{% extends 'myapp/template.html' %}

{% block content %}
    <h1>О компании</h1>
    <p> Управляющая компания - осуществляет содержание многоквартирных домов на основе возмездного договора с собственниками. в 7 районах города. Мы работаем в:</p>
    <p>- Белозёрном,</p>
    <p>- Карельском,</p>
    <p>- Московском,</p>
    <p>- Перевалка,</p>
    <p>- Белозёрном,</p>
    <p>- Зарека,</p>
    <p>- Железнодорожном районах.</p>
    <p>Компания зарегистрирована 7 апреля 2011 г. Учредителем компании является ТСЖ "СПЕКТРУМ".</p>  
    <p>Директор ООО "Управляющая компания" - Иванов Иван Иванович. </p>
{% endblock %}