{% extends 'myapp/template.html' %}

{% block content %}
    <h1>ООО "Управляющая компания"</h1>
    <p> Общество с ограниченной ответственностью "Управляющая компания"</p>
    <p> ОГРН: 1151001777736, ИНН: 1001344443, КПП: 100000001</p>
    <br> 
    <p> Юридический адрес: 188888, КАРЕЛИЯ РЕСПУБЛИКА, ГОРОД ИВАНОВО, УЛИЦА ЛЕНИНА, ДОМ 10</p>
    <p> Фактический адрес: 188888, КАРЕЛИЯ РЕСПУБЛИКА, ГОРОД ИВАНОВО, УЛИЦА ЛЕНИНА, ДОМ 1</p>
    <br> 
    <p> Телефон абонентского отдела: +8 (800) 555-35-35</p>
    <p> Телефон производственно-технического отдела: +8 (800) 111-22-33</p>
    <br> 
    <p> e-mail: uprav@mail.ru </p>
    <br> 
    <p>ЧАСЫ ПРИЕМА ГРАЖДАН:</p>
    <p>Пн-Чт: 9.00-15.00. Перерыв: 12.30-13.30</p>
    <p>Неприемные дни: пятница, последние 5 рабочих дней месяца.</p>
    <br> 
    <p>ЧАСЫ РАБОТЫ:</p>
    <p>Пн-Чт: 8.30-16.45. Перерыв: 12.30-13.30</p>
    <p>Пт: 8.30-16.30. Перерыв: 12.30-13.30</p>
{% endblock %}