{% extends 'myapp/template.html' %}

{% block content %}
    <p> Ознакомиться с "Жилищным кодексом Российской Федерации" от 29.12.2004 N 188-ФЗ (ред. от 14.02.2024) (с изм. и доп., вступ. в силу с 25.02.2024) можно <a href="https://www.consultant.ru/document/cons_doc_LAW_51057/">здесь</a>.</p>
    <p> Ознакомиться с Постановлением Правительства РФ от 06.05.2011 N 354 (ред. от 28.11.2023) "О предоставлении коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов" (вместе с "Правилами предоставления коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов") можно <a href="https://www.consultant.ru/document/cons_doc_LAW_114247/">здесь</a>.</p>
    <p> Обратиться в компанию можно онлайн заполнив соответсвующую <a href="{% url 'form' %}">форму</a>,</p>
    <p> по телефону: +8 (800) 555-35-35,</p>
    <p> или лично прийти по адресу: КАРЕЛИЯ РЕСПУБЛИКА, ГОРОД ИВАНОВО, УЛИЦА ЛЕНИНА, ДОМ 10</p>
    <p>ЧАСЫ ПРИЕМА ГРАЖДАН:</p>
    <p>Пн-Чт: 9.00-15.00. Перерыв: 12.30-13.30</p>
    <p>Неприемные дни: пятница, последние 5 рабочих дней месяца.</p>
{% endblock %}