footer {
  height: 200px;
  background-color: #b2c4ff;
}

.contact-box {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  background-color: #f8fa9e;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(77, 137, 247);
}

.col-md-1 {
  position: relative;
  right: 400px;
}

.col-md-2 {
  position: relative;
  top: -130px;
  left: 400px;
}

.col-md-3 {
  position: relative;
  top: -260px;
}

.col-md-4 {
  position: relative;
  top: -230px;
  left: 40px;
}

.col-md-6 {
  position: relative;
  top: -250px;
  left: 300px;
}

.main-menu {
  position: relative;
  background-color:#b2c4ff;
  height: 50px;
  top: -250px;
}

.home {
  position: relative;
  top: 20px;
  left: 40px;
}

.about {
  position: relative;
  top: -14px;
  left: 160px;
}

.vacansies {
  position: relative;
  top: -48px;
  left: 320px;
}

.personal {
  position: relative;
  top: -82px;
  left: 460px;
}

.news {
  position: relative;
  top: -116px;
  left: 700px;
}

.for_consumers {
  position: relative;
  top: -150px;
  left: 840px;
}

.contacts {
  position: relative;
  top: -184px;
  left: 1040px;
}

.requisites {
  position: relative;
  top: -218px;
  left: 1200px;
}

.content {
  top: -400px;
}